@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700';

.galleryContainer {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  background: #1D1F20;
  color: white;
  font-size: 14px;
  font-family: Lato, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.galleryContainer img {
  width: 100%;
}

.app {
  height: 90vmin;
  width: 90vmin;
  background: white;
  position: relative;
  overflow: auto;
  visibility: hidden;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2% 3.6%;
  padding: 10px;
}

.item {
  cursor: pointer;
  font-size: 0;
}

.detail {
  position: fixed;
  top: 10px;
  left: 50%;
  width: 90.1vmin;
  cursor: pointer;
  font-size: 0;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  max-height: 100%;
  overflow: auto;
}

.detail > img {
  position: relative;
  z-index: 1;
}

.content {
  background: #232323;
  padding: 2rem 1.5rem;
  font-size: 1rem;
  box-sizing: border-box;
  flex-grow: 1;
}

.content > * {
  margin-bottom: 1rem;
}

.title {
  font-size: 2rem;
  text-transform: uppercase;
}

.secondary {
  color: lightgray;
}

.description {
  line-height: 1.5;
}